.root {
  --content-pad: 0.5em 0.7em;
  --border-col: #ddd;

  margin: 10px 0px;
  border: 1px solid var(--border-col);
  font-size: 1.2em;
  border-radius: 7px;
  overflow: hidden;
}

.input {
  font-size: inherit;
  padding: var(--content-pad);
}

.input:hover,
.input:focus {
  outline: none;
}

.button {
  border: none;
  background-color: aquamarine;
  margin-left: 0.2em;
  font-size: inherit;
  padding: var(--content-pad);
  cursor: pointer;
}

.select,
.select:hover,
.select:focus {
  font-size: inherit;
  border: none;
  outline: none;
  border-right: 1px solid var(--border-col);
}

.select {
  padding: var(--content-pad);
}
