.root {
  position: sticky;
  top: 0px;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: lightslategrey;
}

.content {
  text-decoration: none;
  padding: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
